#  Project - Related Data Recommendation using Assosiation Rule Mining

In [1]:
A = [['Milk', 'Onion', 'Chhole', 'Rajma', 'Ghee', 'Dahi'],
     ['Dill', 'Onion', 'Chhole', 'Rajma', 'Ghee', 'Dahi'],
     ['Milk', 'Apple', 'Rajma', 'Ghee'],
     ['Milk', 'Mutter', 'Corn', 'Rajma', 'Dahi'],
     ['Corn', 'Onion', 'Onion', 'Rajma', 'Ice cream', 'Ghee']]

In [2]:
#pip install mlxtend

## Changing data into transation encoded format

In [3]:
from mlxtend.preprocessing import TransactionEncoder
te=TransactionEncoder()
import pandas as pd
A=pd.DataFrame(te.fit_transform(A),columns=te.columns_)

In [4]:
A.head(20)

,Apple,Chhole,Corn,Dahi,Dill,Ghee,Ice cream,Milk,Mutter,Onion,Rajma
0,False,True,False,True,False,True,False,True,False,True,True
1,False,True,False,True,True,True,False,False,False,True,True
2,True,False,False,False,False,True,False,True,False,False,True
3,False,False,True,True,False,False,False,True,True,False,True
4,False,False,True,False,False,True,True,False,False,True,True

In [5]:
A.shape

(5, 11)

### Apriori algo for finding Support

In [6]:
from mlxtend.frequent_patterns import apriori
Q=apriori(A,min_support=0.5,use_colnames=True)

In [7]:
Q.itemsets

0                   (Dahi)
1                   (Ghee)
2                   (Milk)
3                  (Onion)
4                  (Rajma)
5            (Dahi, Rajma)
6            (Onion, Ghee)
7            (Rajma, Ghee)
8            (Rajma, Milk)
9           (Onion, Rajma)
10    (Onion, Rajma, Ghee)
Name: itemsets, dtype: object

In [8]:
p=[]
for i in Q.itemsets:
    p.append(len(i))

In [9]:
p

[1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3]

In [10]:
Q

    support              itemsets
0       0.6                (Dahi)
1       0.8                (Ghee)
2       0.6                (Milk)
3       0.6               (Onion)
4       1.0               (Rajma)
5       0.6         (Dahi, Rajma)
6       0.6         (Onion, Ghee)
7       0.8         (Rajma, Ghee)
8       0.6         (Rajma, Milk)
9       0.6        (Onion, Rajma)
10      0.6  (Onion, Rajma, Ghee)

In [11]:
Q['SIZE']=p
Q[Q.SIZE==2]

   support        itemsets  SIZE
5      0.6   (Dahi, Rajma)     2
6      0.6   (Onion, Ghee)     2
7      0.8   (Rajma, Ghee)     2
8      0.6   (Rajma, Milk)     2
9      0.6  (Onion, Rajma)     2

In [12]:
len(A.Rajma)

5

In [13]:
num=A[(A.Rajma==True) & (A.Dahi==True)].shape[0]
den=A[A.Rajma==True].shape[0]
conf=num/den
conf

0.6

### Creating Function for Confidence

In [14]:
def confidence(A,x,y):
    num=A[(A[x]==True) & (A[y]==True)].shape[0]
    den=A[A[x]==True].shape[0]
    conf=num/den
    return conf

### Finding Support Mannualy

In [15]:
def supp(A,x,y):
    num=A[(A[x]==True) & (A[y]==True)].shape[0]
    den=A.shape[0]
    sup=num/den
    return sup

In [16]:
rule=[]
support=[]
conf=[]
for i in A.columns:
    for j in A.columns:
        if(i != j):
            rule.append(i + ' ' + j)
            support.append(supp(A,i,j))
            conf.append(confidence(A,i,j))

In [17]:
final_data=pd.DataFrame([rule,support,conf]).T
final_data.columns=['rule','support','conf']
final_data.head(20)

                rule support conf
0       Apple Chhole     0.0  0.0
1         Apple Corn     0.0  0.0
2         Apple Dahi     0.0  0.0
3         Apple Dill     0.0  0.0
4         Apple Ghee     0.2  1.0
5    Apple Ice cream     0.0  0.0
6         Apple Milk     0.2  1.0
7       Apple Mutter     0.0  0.0
8        Apple Onion     0.0  0.0
9        Apple Rajma     0.2  1.0
10      Chhole Apple     0.0  0.0
11       Chhole Corn     0.0  0.0
12       Chhole Dahi     0.4  1.0
13       Chhole Dill     0.2  0.5
14       Chhole Ghee     0.4  1.0
15  Chhole Ice cream     0.0  0.0
16       Chhole Milk     0.2  0.5
17     Chhole Mutter     0.0  0.0
18      Chhole Onion     0.4  1.0
19      Chhole Rajma     0.4  1.0

### Related data recommendation

In [18]:
final_data[(final_data.support > 0.4 ) & (final_data.conf > 0.4)]

            rule support  conf
39    Dahi Rajma     0.6   1.0
58    Ghee Onion     0.6  0.75
59    Ghee Rajma     0.8   1.0
79    Milk Rajma     0.6   1.0
95    Onion Ghee     0.6   1.0
99   Onion Rajma     0.6   1.0
103   Rajma Dahi     0.6   0.6
105   Rajma Ghee     0.8   0.8
107   Rajma Milk     0.6   0.6
109  Rajma Onion     0.6   0.6

In [19]:
#so we can recommend products by this algo